<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JDBCTutorial</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
        <servlet-name>ContinentServlet</servlet-name>
        <servlet-class>it.objectmethod.jdbc.servlets.ContinentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountryServlet</servlet-name>
        <servlet-class>it.objectmethod.jdbc.servlets.CountryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitiesServlet</servlet-name>
        <servlet-class>it.objectmethod.jdbc.servlets.CitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>it.objectmethod.jdbc.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFormServlet</servlet-name>
        <servlet-class>it.objectmethod.jdbc.servlets.AddFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenFormServlet</servlet-name>
        <servlet-class>it.objectmethod.jdbc.servlets.OpenFormServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ModFormServlet</servlet-name>
        <servlet-class>it.objectmethod.jdbc.servlets.ModFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelFormServlet</servlet-name>
        <servlet-class>it.objectmethod.jdbc.servlets.DelFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovFormServlet</servlet-name>
        <servlet-class>it.objectmethod.jdbc.servlets.MovFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContinentServlet</servlet-name>
        <url-pattern>/ContinentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountryServlet</servlet-name>
        <url-pattern>/CountryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitiesServlet</servlet-name>
        <url-pattern>/CitiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFormServlet</servlet-name>
        <url-pattern>/AddFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenFormServlet</servlet-name>
        <url-pattern>/OpenFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModFormServlet</servlet-name>
        <url-pattern>/ModFormServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>DelFormServlet</servlet-name>
        <url-pattern>/DelFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovFormServlet</servlet-name>
        <url-pattern>/MovFormServlet</url-pattern>
    </servlet-mapping>
</web-app>